// $primary: yellow;

// pagination
$pagination-color: white;
$pagination-bg: black;

/* SCSS HEX */
$space-cadet: #1b1b32ff;
$cultured: #f5f6f7ff;
$emerald: #23ce6bff;
$medium-slate-blue: #7d83ffff;
$dodger-blue: #279af1ff;